<%- include("templates/header") %>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">You have not completed the preference quiz</h2>
  <div class="py-5">
    <a href="/quiz"
      >Please return to the quiz page to receive tailored recommendations!</a
    >
  </div>
</div>

<%- include("templates/footer") %>
