<%- include("templates/header") %>
    <div id="startButton-container">
        <img id="startButton" src="/takeOff.png" width="20">
    </div>

    <!--easter egg part shows here-->
    <div id="airplane-container" class="hidden">
        <img src="coolDuck.png" width="150" id="airplane-image">
        <img src="wind.gif" width="90">
    </div>

    <div id="confetti-container">
    </div>
    <!--easter egg part ends here-->


    <script src="/js/easterEgg.js"></script>
    <%- include("templates/footer") %>