<%- include("templates/header") %>

<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">No country selected</h2>
  <div class="py-5">
    <a href="/gacha">Return to the gacha page to select a country!</a>
  </div>
</div>

<%- include("templates/footer") %>
