<%- include("templates/header_logoOnly") %>

<div class="container py-5 text-center">
  <h1 class="display-4 mb-4">Preference Quiz</h1>

  <a class="back" href="javascript:history.back()" style="display: flex;">
    <div class="d-flex align-items-center">
      <p class="material-symbols-outlined">
        arrow_back_ios
      </p>
      <p>Back</p>
    </div>   
  </a>

  <form method="post" action="/quiz">
    <div class="form-group mb-4">
      <div class="card bg">
        <h4 class="card-header text-center bg-success-subtle">Why are you travelling?</h4>
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Fun" data-question="question1">Fun</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Graduation trip" data-question="question1">Graduation trip</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Family trip" data-question="question1">Family trip</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Honeymoon" data-question="question1">Honeymoon</button>
          <input type="hidden" name="question1" id="question1-input">
        </div>
      </div>
    </div>
    
    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">What type of destination do you want to go to?</h4>
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Snow views" data-question="question2">Snow views</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Beach" data-question="question2">Beach</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Historic city" data-question="question2">Historic City</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Jungle" data-question="question2">Jungle</button>
          <input type="hidden" name="question2" id="question2-input">
        </div>
      </div>
    </div>
    
    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">What month do you want to go travelling?</h4>
        <select class="form-select custom-select-md" size="4" id="quizQ3" multiple="multiple" name="question3" required>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
    </div>
    
    <div class="form-group mb-4">
      <div class="card bg">
        <h4 class="card-header text-center bg-success-subtle">What activity do you mainly want to do at your destination?</h4>
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Go sight seeing" data-question="question4">Go sight seeing</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Be in nature" data-question="question4">Be in nature</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Taste new food" data-question="question4">Taste new food</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Get relaxed" data-question="question4">Get relaxed</button>
          <input type="hidden" name="question4" id="question4-input">
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">Which continent do you want to travel to?</h4>
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Africa" data-question="question5">Africa</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Asia" data-question="question5">Asia</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Europe" data-question="question5">Europe</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="North America" data-question="question5">North America</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="Oceania" data-question="question5">Oceania</button>
          <button type="button" class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto" data-value="South America" data-question="question5">South America</button>
          <input type="hidden" name="question5" id="question5-input">
        </div>
      </div>
    </div>
    
    <input type="hidden" name="userId" value="<%= userId %>">
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
  </form>
</div>



<script src="/js/quiz.js"></script>