<%- include("templates/header") %>

<div class="container py-5 text-center">
  <h1 class="display-4 mb-4">Preference Quiz</h1>

  <a class="back" href="javascript:history.back()" style="display: flex">
    <div class="d-flex align-items-center">
      <p class="material-symbols-outlined">arrow_back_ios</p>
      <p>Back</p>
    </div>
  </a>

  <form method="post" action="/quiz">
    <div class="form-group mb-4">
      <div class="card bg">
        <h4 class="card-header text-center bg-success-subtle">
          What is your reason for travelling?<span class="text-danger">*</span>
        </h4>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto default"
            data-value="Fun and exploration"
            data-question="question1"
          >
            Fun and exploration
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="A graduation trip"
            data-question="question1"
          >
            A graduation trip
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="A family trip"
            data-question="question1"
          >
            A family trip
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="A honeymoon"
            data-question="question1"
          >
            A honeymoon
          </button>
          <input type="hidden" name="question1" id="question1-input" />
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">
          What is your preferred destination type?<span class="text-danger">*</span>
        </h4>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto default"
            data-value="Snowy"
            data-question="question2"
          >
            Snowy
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Beach"
            data-question="question2"
          >
            Beach
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Historical city"
            data-question="question2"
          >
            Historical City
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Forest"
            data-question="question2"
          >
            Forest
          </button>
          <input type="hidden" name="question2" id="question2-input" />
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">
          What month do you want to go travelling?<span class="text-danger">*</span>
        </h4>
        <select
          class="form-select custom-select-md"
          size="6"
          id="quizQ3"
          multiple="multiple"
          name="question3"
          required
        >
          <option disabled selected>Select</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
          <option value="April">April</option>
          <option value="May">May</option>
          <option value="June">June</option>
          <option value="July">July</option>
          <option value="August">August</option>
          <option value="September">September</option>
          <option value="October">October</option>
          <option value="November">November</option>
          <option value="December">December</option>
        </select>
      </div>
    </div>

    <div class="form-group mb-4">
      <div class="card bg">
        <h4 class="card-header text-center bg-success-subtle">
          What activity do you mainly want to do at your destination?<span class="text-danger">*</span>
        </h4>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto default"
            data-value="Go sight seeing"
            data-question="question4"
          >
            Go sight seeing
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Be in nature"
            data-question="question4"
          >
            Be in nature
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Taste new food"
            data-question="question4"
          >
            Taste new food
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Get relaxed"
            data-question="question4"
          >
            Get relaxed
          </button>
          <input type="hidden" name="question4" id="question4-input" />
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <div class="card">
        <h4 class="card-header text-center bg-success-subtle">
          Which continent do you want to travel to?<span class="text-danger">*</span>
        </h4>
        <div class="card-body">
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Africa"
            data-question="question5"
          >
            Africa
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Asia"
            data-question="question5"
          >
            Asia
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Europe"
            data-question="question5"
          >
            Europe
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="North America"
            data-question="question5"
          >
            North America
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="Oceania"
            data-question="question5"
          >
            Oceania
          </button>
          <button
            type="button"
            class="btn btn-outline-secondary option-btn d-block mb-2 mx-auto"
            data-value="South America"
            data-question="question5"
          >
            South America
          </button>
          <input type="hidden" name="question5" id="question5-input" />
        </div>
      </div>
    </div>

    <input type="hidden" name="userId" value="<%= userId %>" />
    <button id="reset-btn" type="button" class="btn btn-outline-secondary mx-1 mb-5">Reset</button>
    <button type="submit" class="btn btn-outline-secondary mb-5">Submit</button>
  </form>
</div>

<script src="/js/quiz.js"></script>
<%- include("templates/footer") %>