<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, 
 initial-scale=1.0"
    />
    <title>Reset Password</title>
    <!--stylesheets-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link href="/styles/log-in.css" rel="stylesheet" />
    <link href="/styles/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!--scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="text-center vsc-initialized">
    <!--back button-->
    <a class="back" href="/changePassword" style="display: flex">
      <p class="material-symbols-outlined">arrow_back_ios</p>
      <p>Back</p>
    </a>

    <!--error messages for input validation-->
    <main class="form-signin w-100 m-auto">
      <div class="p-1">
        <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
        <% if (errorMessage) { %>
        <div class="alert alert-danger" role="alert"><%= errorMessage %></div>
        <% } %>
      </div>

      <!--reset password form prompting for new password and submit-->
      <form action="/resetPassword" method="post" autocomplete="off">
        <div class="form-floating">
          <input
            name="email"
            type="email"
            class="form-control"
            id="floatingEmail"
            placeholder="Email address"
            value="<%= email %>"
            disabled
          />
          <label for="floatingEmail">Email address</label>
        </div>
        <br />
        <div class="form-floating">
          <input
            name="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="New Password"
          />
          <label for="floatingPassword">New password</label>
        </div>
        <div class="form-floating">
          <input
            name="confirmPassword"
            type="password"
            class="form-control"
            id="floatingConfirmPassword"
            placeholder="Confirm Password"
          />
          <label for="floatingConfirmPassword">Confirm password</label>
        </div>
        <div class="mt-3">
          <button class="w-100 btn btn-lg custom-btn-primary" type="submit">
            Submit
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
