<%- include("templates/header") %>

<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 80vh"
>
  <div class="text-center">
    <h1>Thank You!</h1>
    <p>Thank you for submitting your travel story.</p>
    <a href="/reviews" class="btn btn-outline-secondary">Read More Reviews</a>
  </div>
</div>

<%- include("templates/footer") %>
