</div>
<!--footer-->
<footer class="footer mt-auto py-2 bg-body-tertiary"
    style="position: fixed; bottom: 0; width: 100%; border-top: 1px solid #ccc;">
    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div class="col-auto">
                <a href="/main" class="link">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                    <div class="label">Home</div>
                </a>
            </div>
            <div class="col-auto">
                <a href="/gacha" class="link">
                    <span class="material-symbols-outlined" style="transition: transform 0.2s;">
                        casino
                    </span>
                    <div class="label">Countries</div>
                </a>
            </div>
            <div class="col-auto">
                <a href="/reviews" class="link">
                    <span class="material-symbols-outlined">
                        rate_review
                    </span>
                    <div class="label">Reviews</div>
                </a>
            </div>
            <div class="col-auto">
                <a href="/bookmarks" class="link">
                    <span class="material-symbols-outlined">
                        bookmark
                    </span>
                    <div class="label">Bookmarks</div>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>