</div>
<!--footer-->

<footer class="footer mt-auto py-3 bg-body-tertiary" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="col-auto">
                <a href="/main">
                    <span class="material-symbols-outlined">
                        home
                    </span>
                </a>
            </div>
            <div class="col-auto">
                <a href="/">
                    <span class="material-symbols-outlined" style="transition: transform 0.2s;">
                        casino
                    </span>
                </a>
            </div>
            <div class="col-auto">
                <a href="/">
                    <span class="material-symbols-outlined">
                        store
                    </span>
                </a>
            </div>
            <div class="col-auto">
                <a href="/">
                    <span class="material-symbols-outlined">
                        rate_review
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>


</body>

</html>