body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 33rem;
  overflow: hidden;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

@media (min-width: 992px) {
  #myCarousel {
    max-height: 550px;
  }

  #myCarousel .carousel-item img {
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.custom-btn-primary {
  color: white;
  background-color: #5895f2;
}

.custom-btn-outline-primary {
  color: #5895f2;
  border-color: #5895f2;
}

.custom-btn-primary:hover {
  color: white;
  background-color: #2979f0;
}

.custom-btn-outline-primary:hover {
  color: white;
  background-color: #3b82ed;
}

@media (max-width: 767px) {
  #myCarousel .carousel-item {
      max-height: 400px; 
  }
}