@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;

}

#quizQ3 {
  text-align: center;
}

.sizer {
  max-width: 50%;
  max-height: 50%;
}

/*** Profile page styling ***/
#imageSelectionModal.modal-backdrop {
  display: none;
}

#imageSelectionModal.show {
  background-color: rgba(0, 0, 0, 0);
}

#imageSelectionModal .modal-dialog {
  pointer-events: auto;
}

.image-option.selected {
  border: 2px solid blue;
}

/*** End of profile page styling ***/

.card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;

}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.card-back img {
  display: none;
}

.card.flipped {
  transform: rotateY(180deg);

}

.card-front {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#dieButton {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s;

}

#dieButton:hover {
  transform: rotate(360deg);
}

#startButton:hover {
  cursor: pointer;

}

#airplane-container {
  padding-top: 2%;
  pointer-events: none;
  animation: slideAnimation 4s linear infinite;
  overflow: hidden;
  display: inline-block;
  /* background: red; */
}

#airplane-container.hidden {
  display: none;
}

/*animation*/
@keyframes slideAnimation {
  0% {
    transform: translateX(30%);
  }

  40% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(900deg);
  }

  100% {
    transform: translateX(-100%);
  }
}



.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: confetti-fall 3s linear infinite;
  transform-origin: center;
  opacity: 0;
  /* Initially hidden */
  overflow: hidden;
}

@keyframes confetti-fall {
  0% {
    transform: translate(0, -100vh) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translate(calc(-50vw + 50%), 100vh) rotate(360deg);
    opacity: 1;
  }
}

/*Back button styling */
.back {
  position: absolute;
  top: 8%;
  left: 2%;
  margin: 10px;
  color: black;
  text-decoration: none;
}

/* 404 page styling */
.error-page {
  background-image: url('/404.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.error-page .container {
  text-align: center;
}

#heading404 {
  font-size: 40pt;
}

.custom-btn-primary {
  color: white;
  background-color: #5895f2;
}

.custom-btn-primary:hover {
  color: white;
  background-color: #2979f0;
}