@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;

} 

#quizQ3 {
  text-align: center;
}

.sizer {
  max-width: 50%;
  max-height: 50%;
}